@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ChooseUs)Model.Content;
}


<div class="adv">
    <i class="@content.Value("whyChooseUsIcon")"></i>
    <div class="text">
        <h4>@content.Value("whyChooseUsTitle")</h4>
        <p>@content.Value("whyChooseUsContent")</p>
    </div> 
</div>